<a href="https://colab.research.google.com/github/Paromita2001/githubds_py/blob/main/data_structure.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [5]:
# Create a list and append an item
list1=[20,15,6,36,17,41,25]
list1.append(33)
print(list1)

[20, 15, 6, 36, 17, 41, 25, 33]

In [6]:
# Remove an element from a list
list1.remove(20)
print(list1)

[15, 6, 36, 17, 41, 25, 33]

In [7]:
#Slice a list to get first 3 elements
print(list1[0:3])

[15, 6, 36]

In [9]:
# Sort a list
print(sorted(list1))

[6, 15, 17, 25, 33, 36, 41]

In [10]:
#Check if element exists in list
print(25 in list1)

True

In [14]:
#Convert list to tuple
list1=[6, 15, 17, 25, 33, 36, 41]
tup1=tuple(list1)
print(tup1)

(6, 15, 17, 25, 33, 36, 41)

In [15]:
#Create a tuple and access elements
print(tup1[0])

6

In [16]:
#Tuple unpacking
t=(6, 15, 17, 25, 33, 36, 41)
a,b,c,d,e,f,g=t
print(a)
print(b)
print(c)
print(d)
print(e)
print(f)
print(g)

6
15
17
25
33
36
41

In [24]:
# Create a set and add element
set1={6, 15, 17, 25, 33, 36, 41}
set1.add(50)
print(set1)

{33, 17, 50, 36, 6, 41, 25, 15}

In [25]:
#Remove from set
set1.remove(33)
print(set1)

{17, 50, 36, 6, 41, 25, 15}

In [1]:
#Union of sets
set1={6, 15, 17, 25, 33}
set2={6, 15, 17, 25, 33, 36, 41,50}
print(set1 | set2)

{33, 36, 6, 41, 15, 17, 50, 25}

In [3]:
#Intersection of sets
print(set1 & set2)

{33, 6, 15, 17, 25}

In [10]:
#Create a dictionary
d = {"name": "Alice", "age": 25}
d

{'name': 'Alice', 'age': 25}

In [4]:
#Access dictionary value
print(d["name"])

Alice

In [11]:
#Add new key-value
d['gender']='female'
print(d)

{'name': 'Alice', 'age': 25, 'gender': 'female'}

In [7]:
#Loop through dictionary
for key,value in d.items():
  print(key,value)

name Alice
age 25
gender female

In [12]:
#Delete key from dictionary
del d["age"]
print(d)

{'name': 'Alice', 'gender': 'female'}

In [13]:
#Get keys and values
print(list(d.keys()), list(d.values()))

['name', 'gender'] ['Alice', 'female']

In [14]:
#Check if key exists
print("name" in d)

True

In [18]:
#Dictionary comprehension
squared = {x: x**2 for x in range(5)}
squared

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16}

In [20]:
#Loop through a list and square each element
list1=[6, 15, 17, 25, 33, 36, 41]
sq_list=[]
for i in list1:
  sq_list.append(i**2)
print(sq_list)

[36, 225, 289, 625, 1089, 1296, 1681]

In [ ]:
#Filter even numbers from a list using loop
even=[]
for i in list1:
  if i%2==0:
    even.append(i)
print(even)

In [23]:
#Count frequency of characters in a string using dictionary
sen='Hello World Programming'
fre_char={}
count=0
for i in sen:
  if i not in fre_char:
    fre_char[i]=1
  else:
    fre_char[i]+=1
print(fre_char)

{'H': 1, 'e': 1, 'l': 3, 'o': 3, ' ': 2, 'W': 1, 'r': 3, 'd': 1, 'P': 1, 'g': 2, 'a': 1, 'm': 2, 'i': 1, 'n': 1}

In [25]:
#Create nested list using loops
matrix = []
for i in range(3):
    row = []
    for j in range(3):
        row.append(i * j)
    matrix.append(row)
print(matrix)

[[0, 0, 0], [0, 1, 2], [0, 2, 4]]

In [27]:
#Remove duplicates from list using set
unique_list = list(set([1, 2, 2, 3, 3, 3]))
print(unique_list)

[1, 2, 3]

In [29]:

#Combine two lists into a dictionary
keys = ["a", "b", "c"]
values = [1, 2, 3]
combined = dict(zip(keys, values))
print(combined)

{'a': 1, 'b': 2, 'c': 3}

In [30]:
#Flatten a 2D list using loop
list2d = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
flattened = []
for sublist in list2d:
    for item in sublist:
        flattened.append(item)
print(flattened)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [31]:
#List comprehension with condition
filtered = [x for x in range(10) if x % 2 == 0]
print(filtered)

[0, 2, 4, 6, 8]

In [39]:
list2=[61,62,53,44,21,17]
print(len(list2))
print(list2[5:-1:-1])
rev_list=[]
for i in range(len(list2)-1,-1,-1):
  rev_list.append(list2[i])
print(rev_list)

6
[]
[17, 21, 44, 53, 62, 61]

In [40]:
#Merge two dictionaries
x = {"a": 1, "b": 2}
y = {"c": 3}
z = {**x, **y}
print(z)

{'a': 1, 'b': 2, 'c': 3}

In [41]:
# Find common elements in two lists using loops
list1 = [1, 2, 3, 4]
list2 = [3, 4, 5, 6]
common = []
for i in list1:
    if i in list2:
        common.append(i)
print(common)

[3, 4]

In [42]:
#count vowels in a string
vowels = 'aeiou'
count = 0
for ch in "education":
    if ch in vowels:
        count += 1
print(count)

5

In [ ]:
#Nested dictionary with loop
nested_dict = {i: {j: i*j for j in range(1, 4)} for i in range(1, 4)}
print(nested_dict)

In [43]:
#Zip and loop through two lists
a = [1, 2, 3]
b = ['a', 'b', 'c']
for num, char in zip(a, b):
    print(num, char)

1 a
2 b
3 c

In [44]:
# Print index and value using loop
for index, value in enumerate([10, 20, 30]):
    print(index, value)

0 10
1 20
2 30