<a href="https://colab.research.google.com/github/Paromita2001/githubds_py/blob/main/dsa.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
# Find the sum of all elements in a list.
def num(lst):
  sum=0
  for i in lst:
    sum+=i
  return sum
print(num([1,2,3,45,2,24,78,20,35]))

210

In [5]:
# Remove duplicates from [1,2,2,3,3,4,4].
def num(lst):
  no_dup=[]
  for i in lst:
    if i not in no_dup:
      no_dup.append(i)

  return no_dup
print(num([1,2,2,3,3,4,4]))

[1, 2, 3, 4]

In [11]:
# Extract all even numbers from [1..20] using list comprehension.
x=[i for i in range (1,21) if i%2==0]
print(x)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [12]:
# Return the maximum and minimum value from a tuple (5, 12, 7, 3).
def min_max(lst):
    return (min(lst), max(lst))

result = min_max([5,12,7,3])
print(result)

(3, 12)

In [15]:
#Swap the first and last elements of a tuple .
def num(tup):
  num=list(tup)
  num[0],num[-1]=num[-1],num[0]

  return tuple(num)
print(num((1,2,3,4,5)))

(5, 2, 3, 4, 1)

In [16]:
#Find common elements between {1,2,3} and {2,3,4}.
set1 = {1, 2, 3}
set2 = {2, 3, 4}

common = set1 & set2
print(common)

{2, 3}

In [17]:
# Count the number of unique words in a list of strings.
words = ["data", "science", "data", "ai", "machine", "ai"]

unique = set(words)
count = len(unique)
print(count)

4

In [20]:
#Given {"a":1,"b":2,"c":3}, increment each value by 10.
d = {"a": 1, "b": 2, "c": 3}
x = {k: v + 10 for k, v in d.items()}
print(x)

{'a': 11, 'b': 12, 'c': 13}

In [ ]:
#Extract all keys from {"x":10,"y":20,"z":30} whose value >15.
data = {"x": 10, "y": 20, "z": 30}
result = [k for k, v in data.items() if v > 15]
print(result)