<a href="https://colab.research.google.com/github/Paromita2001/githubds_py/blob/main/list_Assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Data Structures Assignments
## Lesson: Lists

In [4]:
#Assignment 1: Creating and Accessing Lists
#Create a list of the first 20 positive integers. Print the list.
list1=list(range(1,20))
print(list1)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [6]:
#Assignment 2: Accessing List Elements
#Print the first, middle, and last elements of the list created in Assignment 1.
first_element=list1[0]
print(first_element)
middle_element=list1[len(list1)//2]
print(middle_element)
last_element=list1[-1]
print(last_element)

1
10
19

In [7]:
#Assignment 3: List Slicing
#Print the first five elements, the last five elements, and the elements from index 5 to 15 of the list created in Assignment 1.
print(list1[:5])
print(list1[5:15])
print(list1[-5:])

[1, 2, 3, 4, 5]
[6, 7, 8, 9, 10, 11, 12, 13, 14, 15]
[15, 16, 17, 18, 19]

In [8]:
#Assignment 4: List Comprehensions
#Create a new list containing the squares of the first 10 positive integers using a list comprehension. Print the new list.
square=[i**2 for i in range (1,11)]
print(square)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [9]:
#Assignment 5: Filtering Lists
#Create a new list containing only the even numbers from the list created in Assignment 1 using a list comprehension. Print the new list.
even=[i for i in list1 if i%2==0]
print(even)

[2, 4, 6, 8, 10, 12, 14, 16, 18]

In [15]:
#Assignment 6: List Methods
#Create a list of random numbers and sort it in ascending and descending order. Remove the duplicates from the list and print the modified list.
list2=[29,10,67,37,54,24,6,11,37,45,54]
print(sorted(list2))
print(sorted(list2, reverse=True))
print(list(set(list2)))

[6, 10, 11, 24, 29, 37, 37, 45, 54, 54, 67]
[67, 54, 54, 45, 37, 37, 29, 24, 11, 10, 6]
[67, 37, 6, 10, 11, 45, 54, 24, 29]

In [29]:
#Assignment 8: List of Dictionaries
#Create a list of dictionaries where each dictionary represents a student with keys 'name' and 'score'. Sort the list of dictionaries by the 'score' in descending order and print the sorted list.
students = [
    {'name': 'Alice', 'score': 88},
    {'name': 'Bob', 'score': 72},
    {'name': 'Charlie', 'score': 95},
    {'name': 'David', 'score': 65},
    {'name': 'Eve', 'score': 78}
]
sorted_students = sorted(students, key=lambda x: x['score'], reverse=True)
print("Sorted students by score in descending order:")
for student in sorted_students:
    print(student)

Sorted students by score in descending order:
{'name': 'Charlie', 'score': 95}
{'name': 'Alice', 'score': 88}
{'name': 'Eve', 'score': 78}
{'name': 'Bob', 'score': 72}
{'name': 'David', 'score': 65}

In [ ]:
#Assignment 9: Matrix Transposition
#Write a function that takes a 3x3 matrix (nested list) as input and returns its transpose. Print the original and transposed matrices.
def transpose_matrix(matrix):
    transposed = [[matrix[j][i] for j in range(len(matrix))] for i in range(len(matrix[0]))]
    return transposed

matrix = [
    [1, 2, 3],
    [4, 5, 6],
    [7, 8, 9]
]
transposed = transpose_matrix(matrix)
print("Original matrix:")
for row in matrix:
    print(row)
print("Transposed matrix:")
for row in transposed:
    print(row)

In [22]:
#Assignment 10: Flattening a Nested List
#Write a function that takes a nested list and flattens it into a single list. Print the original and flattened lists
def flatten_list(nested_list):
    flat_list = [item for sublist in nested_list for item in sublist]
    return flat_list

nested_list = [
    [1, 2, 3],
    [4, 5, 6],
    [7, 8, 9]
]
flattened = flatten_list(nested_list)
print("Original nested list:")
print(nested_list)
print("Flattened list:")
print(flattened)

[1, 2, 3, 4, 5, 6]

In [24]:
#Assignment 11: List Manipulation
#Create a list of the first 10 positive integers. Remove the elements at indices 2, 4, and 6, and insert the element '99' at index 5. Print the modified list.
lst = list(range(1, 11))
print(f"Original list: {lst}")
del lst[6]
del lst[4]
del lst[2]
lst.insert(5, 99)
print(f"Modified list: {lst}")

Original list: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
Modified list: [1, 2, 4, 6, 8, 99, 9, 10]

In [23]:
#Assignment 12: List Zipping
#Create two lists of the same length. Use the zip function to combine these lists into a list of tuples and print the result.
list3=[0,1,2,3,4,5,6,7,8,9]
list4=[10,11,12,13,14,15,16,17,18,19]
zip_tup=list(zip(list3,list4))
print(zip_tup)

[(0, 10), (1, 11), (2, 12), (3, 13), (4, 14), (5, 15), (6, 16), (7, 17), (8, 18), (9, 19)]

In [28]:
#Assignment 13: List Reversal
#Write a function that takes a list and returns a new list with the elements in reverse order. Print the original and reversed lists.
def reverse_list(lst):
    return lst[::-1]

original_list = [1, 2, 3, 4, 5]
reversed_list = reverse_list(original_list)
print(f"Original list: {original_list}")
print(f"Reversed list: {reversed_list}")

Original list: [1, 2, 3, 4, 5]
Reversed list: [5, 4, 3, 2, 1]

In [27]:
#Assignment 14: List Rotation
#Write a function that rotates a list by n positions. Print the original and rotated lists.

def rotate_list(lst, n):
    return lst[n:] + lst[:n]

original_list = [1, 2, 3, 4, 5]
rotated_list = rotate_list(original_list, 2)
print(f"Original list: {original_list}")
print(f"Rotated list: {rotated_list}")

Original list: [1, 2, 3, 4, 5]
Rotated list: [3, 4, 5, 1, 2]

In [26]:
#Assignment 15: List Intersection
#Write a function that takes two lists and returns a new list containing only the elements that are present in both lists. Print the intersected list.
def list_intersection(lst1, lst2):
    return [x for x in lst1 if x in lst2]

list1 = [1, 2, 3, 4, 5]
list2 = [3, 4, 5, 6, 7]
intersection = list_intersection(list1, list2)
print(f"List 1: {list1}")
print(f"List 2: {list2}")
print(f"Intersection: {intersection}")

List 1: [1, 2, 3, 4, 5]
List 2: [3, 4, 5, 6, 7]
Intersection: [3, 4, 5]