<a href="https://colab.research.google.com/github/Paromita2001/githubds_py/blob/main/loops.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#factorial
n=int(input('enter a number: '))
f=1
for i in range (1,n+1):
  f*=i
print(f)

enter a number: 5
120

In [ ]:
#fibonacci series
n=int(input('enter a number: '))
a,b=0,1
for i in range (0,n+1):
  a,b=b, a+b
  print(a)

enter a number: 10
1
1
2
3
5
8
13
21
34
55
89

In [ ]:
#Find the maximum element in a list using a loop.
l=[1,2,3,4,5,6,7,8,9,10]
max=0
for i in l:
  if i>max:
    max=i
print(max)

10

In [ ]:
#Count vowels in a string.
s = "Looping is fun"
count=0
vow=['a','e','i','o','u']
for i in s:
  if i in vow:
    count+=1
print(count)

6

In [ ]:
#Reverse a string using a loop.
s = "Looping is fun"
rev=' '
for i in s:
  rev=i+rev
print(rev)

nuf si gnipooL

In [ ]:
#Find the sum of digits of a number (e.g., 1234).
num=12345
sum=0
for i in str(num):
  sum=sum+int(i)
print(sum)

1
2
3
4
5
15

In [ ]:
#Use nested loops to print a right triangle pattern.
n=5
for i in range(n+1):
  for j in range(i):
    print('*',end=' ')
  print()

*
* *
* * *
* * * *
* * * * *

In [ ]:
#Count frequency of each character in a string
text = "Looping is so fun"
already_counted = []

for char in text:
    if char not in already_counted:
        count = 0
        for c in text:
            if c == char:
                count += 1
        print(f"{char} appears {count} times")
        already_counted.append(char)

L appears 1 times
o appears 3 times
p appears 1 times
i appears 2 times
n appears 2 times
g appears 1 times
  appears 3 times
s appears 2 times
f appears 1 times
u appears 1 times

In [ ]:
#Check if a string is a palindrome using a loop.
p='madam'
is_pelindrome=True
for i in range(len(p)):
  if p[i]!=p[-(i+1)]:
    is_pelindrome=False
    break

if is_pelindrome:
    print('Pelindrome')
else:
    print('Not Pelindrome')

Pelindrome

In [ ]:
#Remove duplicates from a list using a loop
nums = [1, 2, 2, 3, 4, 4]
unique_num=[]
for i in nums:
  if i not in unique_num:
    unique_num.append(i)
print(unique_num)

[1, 2, 3, 4]

In [ ]:
#Prime number checker using a loop
num = 29
is_prime = True
for i in range(2, int(num**0.5) + 1):
  print(i)
  if num % i == 0:
        is_prime = False
        break
print(is_prime)

2
3
4
5
True

In [ ]:
#Print all prime numbers from 1 to 100.
for i in range(2,101):
  for j in range(2, int(i**0.5)+1):
    if i%j==0:
      break
  else:
    print(i)

2
3
5
7
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73
79
83
89
97

In [1]:
#Detect Armstrong numbers between 100 to 999.
for i in range(100,1000):
  if i == int(str(i)[0])**3 + int(str(i)[1])**3 + int(str(i)[2])**3:
    print(i)

153
370
371
407

In [7]:
#Find the second largest element in a list using loops.
nums = [4, 7, 2, 9, 5]
first = second = float('-inf')
for num in nums:
    if num > first:
        second = first
        first = num
    elif num > second and num != first:
        second = num
print(second)

7

In [11]:
#Print Pascal’s Triangle up to 5 rows.
from math import comb
n = 5
for i in range(n):
  #print(i)
  for j in range(i + 1):
      #print(j)
      print(comb(i, j), end=" ")
  print()

1
1 1
1 2 1
1 3 3 1
1 4 6 4 1

In [6]:
#Print all unique pairs in a list that sum to a target.
arr = [2, 4, 3, 5, 7]
target = 9
for i in range(len(arr)):
    for j in range(i+1, len(arr)):
        if arr[i] + arr[j] == target:
            print((arr[i], arr[j]))

(2, 7)
(4, 5)

In [20]:
#Generate a number pyramid pattern.
n = 5
for i in range(1, n+1):
    print(" "*(n-i), end=" ")
    for j in range(1, i+1):
        print(j, end=" ")
    print()

     1
    1 2
   1 2 3
  1 2 3 4
 1 2 3 4 5

In [16]:
#Print all substrings of a given string
s = "abc"
for i in range(len(s)):  #3  : 0 1 2
    for j in range(i+1, len(s)+1): #1:4 2:4 3:4
      #print(i,j) #01 12 13, 12 13, 23
      print(s[i:j])

a
ab
abc
b
bc
c

In [ ]:
#Detect the longest word in a sentence using a loop.
sentence = "Python is a powerful programming language"
word=sentence.split(' ')
long=' '
for i in word:
  if len(i)>len(long):
    long=i
print(long)

programming

In [4]:
#Implement bubble sort using a loop.
arr = [5, 3, 8, 1]
n = len(arr)
for i in range(n):
    for j in range(0, n-i-1):
        if arr[j] > arr[j+1]:
            arr[j], arr[j+1] = arr[j+1], arr[j]
print(arr)

[1, 3, 5, 8]