<a href="https://colab.research.google.com/github/Paromita2001/githubds_py/blob/main/practice1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

User will enter password which is set to be qwert
If password matches, print Welcome to CloudyML Course!! else print Wrong Password!! and user will re-enter password
In fourth trial, it will print One Last Trial left!!!

In [ ]:
correct_password = "qwert"


for attempt in range(1, 5):
    user_input = input("Enter password: ")

    if user_input == correct_password:
        print("Welcome to CloudyML Course!!")
        break
    else:
        if attempt == 4:
            print("One Last Trial left!!!")
            input('Enter password')
        else:
            print("Wrong Password!! Try again.")

Enter password: ww
Wrong Password!! Try again.
Enter password: hj
Enter password: dd
Wrong Password!! Try again.
Wrong Password!! Try again.
Enter password: dd
One Last Trial left!!!

Enter password which is an OTP set to be 1008
If OTP matches, It will ask user to provide details like Enter Your Name: and Enter Your City: and user will re-enter OTP
In fourth trial, it will print One Last Trial left!!!

In [ ]:
for i in range(1, 6):
    otp = int(input("Enter password: "))

    if otp == 1008:
        name = input("Enter your name: ")
        city = input("Enter your city: ")


        confirm = int(input("Re-enter OTP to confirm: "))
        if confirm == 1008:
            print(f"Welcome, {name} from {city}!")
        else:
            print("OTP mismatch during confirmation.")
        break
    else:
        if i == 4:
            print("One Last Trial left!!!")
        elif i == 5:
            print("Wrong Password!! Access Denied.")
        else:
            print("Wrong Password!! Try again.")

Enter password: 111
Wrong Password!! Try again.
Enter password: 222
Wrong Password!! Try again.
Enter password: 444
Wrong Password!! Try again.
Enter password: 888
One Last Trial left!!!
Enter password: 1008
Enter your name: paro
Enter your city: jsg
Re-enter OTP to confirm: 1008
Welcome, paro from jsg!

In [25]:
#Find out Who scored highest marks in Python? ###
#student marks nested list
stu = [['Name',['Statistics','Python','SQL','ML','DeepLearning']],
                 ['Ananya',[41, 34, 45, 55, 63]],
                 ['Akash',[42, 23, 34, 44, 53]],
                 ['Rahul',[32, 23, 13, 54, 67]],
                 ['Gyan',[23, 82, 23, 63, 34]],
                 ['Pranav',[21, 23, 25, 56, 56]] ]
python_scores = []

for student in stu[1:]:
    name = student[0]
    python_mark = student[1][1]
    python_scores.append([name, python_mark])

sorted_python = sorted(python_scores, key=lambda x: x[1], reverse=True)


topper = sorted_python[0]

print(f"{topper[0]} scored the highest in Python with {topper[1]} marks.")

Gyan scored the highest in Python with 82 marks.

In [26]:
# If considered only top-4 subjects of a candidate, then who scored the highest percentage of marks?
stu = [['Name', ['Statistics', 'Python', 'SQL', 'ML', 'DeepLearning']],
       ['Ananya', [41, 34, 45, 55, 63]],
       ['Akash', [42, 23, 34, 44, 53]],
       ['Rahul', [32, 23, 13, 54, 67]],
       ['Gyan', [23, 82, 23, 63, 34]],
       ['Pranav', [21, 23, 25, 56, 56]]]

topper_name = ""
top_percentage = 0

for student in stu[1:]:
    name = student[0]
    marks = student[1]

    top4 = sorted(marks, reverse=True)[:4]

    total = sum(top4)
    percentage = total / (4 * 100) * 100

    if percentage > top_percentage:
        top_percentage = percentage
        topper_name = name

print(f"{topper_name} scored the highest percentage ({top_percentage:.2f}%) considering top 4 subjects.")

Ananya scored the highest percentage (51.00%) considering top 4 subjects.

In [ ]:
#Count the number of vowels in a given string using a loop.
sent='this is a flower'
vow='AEIOUaeiou'
c=0
for i in sent:
  for j in vow:
    if i==j:
      c+=1
print(c)

5

In [ ]:
#Reverse a string using a for loop (without using slicing)
sent='this is a flower'
rev=''
for i in sent:
  rev=i+rev
print(rev)

rewolf a si siht

In [ ]:
#Print the factorial of a number using a while loop.
num=5
n=0
fact=1
while n<num:
  fact=fact*(n+1)
  n+=1
print(fact)

120

In [ ]:
n=5
for i in range (n+1):
  fact=1
  for j in range(1,i+1):
    fact=fact*j
print(fact)

120

In [ ]:
#Write a program to print the Fibonacci series up to n terms.
a=0
b=1
for i in range(10):
  print(a)
  a,b=b,a+b

0
1
1
2
3
5
8
13
21
34

In [ ]:
#Find the sum of all elements in a list using a for loop.
l=[2,1,7,8,5,4,2,3]
sum=0
for i in l:
  sum+=i
print(sum)

32

In [ ]:
#Find the maximum number in a list using a loop.
l=[2,1,7,8,5,4,2,3]
max=l[0]
for i in l:
  if i>max:
    max=i
print(max)

8

In [ ]:
#Print a pattern of numbers in reverse order (from 5 to 1) using a loop.
rev=''
for i in range(1,6):
  rev=str(i)+rev
print(rev)

54321

In [ ]:

pal=323
rev=''
for i in str(pal):
  rev= i+rev
if pal==int(rev):
    print('Palindrome')
else:
    print('Not Palindrome')

Palindrome

In [ ]:
#Write a program to print all Armstrong numbers between 1 and 500.

for i in range(1,500):
  sum=0
  for j in str(i):
    sum+=int(j)**3
  if sum==i:
      print(i)

1
153
370
371
407

In [ ]:
for i in range (3,0,-1):
  for j in range(1,i+1):
    print(j,end='')
  print()

123
12
1

In [ ]:
for i in range (3,0,-1):
  for j in range(1,i+1):
    print(i,end='')
  print()

333
22
1

In [ ]:
n=3
for i in range (1,n+1):
  for j in range(n-i+1):
    print(i,end='')
  print()

111
22
3