<a href="https://colab.research.google.com/github/Paromita2001/githubds_py/blob/main/sets_assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Data Structures Assignments
##Sets

In [9]:
#Assignment 1: Creating and Accessing Sets
#Create a set with the first 10 positive integers. Print the set.
set_1={1,2,3,4,5,6,7,8,9,10}
print(set_1)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [10]:
#Assignment 2: Adding and Removing Elements
#Add the number 11 to the set created in Assignment 1. Then remove the number 1 from the set. Print the modified set.
set_1.add(11)
set_1.remove(1)
print(set_1)

{2, 3, 4, 5, 6, 7, 8, 9, 10, 11}

In [3]:
#Assignment 3: Set Operations
#Create two sets: one with the first 5 positive integers and another with the first 5 even integers. Perform and print the results of union, intersection, difference,
#and symmetric difference operations on these sets.
set1={1,2,3,4,5}
set2={2,4,6,8,10}
print(set1.union(set2))
print(set1.intersection(set2))
print(set1.difference(set2))
print(set1.symmetric_difference(set2))

{1, 2, 3, 4, 5, 6, 8, 10}
{2, 4}
{1, 3, 5}
{1, 3, 5, 6, 8, 10}

In [8]:
#Assignment 4: Set Comprehensions
#Create a new set containing the squares of the first 10 positive integers using a set comprehension. Print the new set.
set_=(i**2 for i in range(1,11))
print(set(set_))

{64, 1, 4, 36, 100, 9, 16, 49, 81, 25}

In [11]:
#Assignment 5: Filtering Sets
#Create a new set containing only the even numbers from the set created in Assignment 1 using a set comprehension. Print the new set.

set_1={i for i in set1 if i%2==0}
print(set_1)

{2, 4}

In [12]:
#Assignment 6: Set Methods
#Create a set with duplicate elements and remove the duplicates using set methods. Print the modified set.
set_3={1,2,3,4,5,1,2,3,4,5}
set_3=set(set_3)
print(set_3)

{1, 2, 3, 4, 5}

In [18]:
#Assignment 7: Subsets and Supersets
#Create two sets: one with the first 5 positive integers and another with the first 3 positive integers.
#Check if the second set is a subset of the first set and if the first set is a superset of the second set. Print the results.
set_1={1,2,3,4,5}
set_2={1,2,3}
if set_2.issubset(set_1):
  print("set2 is a subset of set1")
else:
  print("set2 is not a subset of set1")

set2 is a subset of set1

In [19]:
#Assignment 8: Frozenset
#Create a frozenset with the first 5 positive integers. Print the frozenset.
set_1={1,2,3,4,5}
set_1=frozenset(set_1)
print(set_1)

frozenset({1, 2, 3, 4, 5})

In [ ]:
#Assignment 9: Set and List Conversion
#Create a set with the first 5 positive integers. Convert it to a list, append the number 6, and convert it back to a set. Print the resulting set.
set_1={1,2,3,4,5}
list_1=list(set_1)
list_1.append(6)
set_1=set(list_1)
print(set_1)

In [21]:
#Assignment 10: Set and Dictionary
#Create a dictionary with set keys and integer values. Print the dictionary.
dict_1={1:set1,2:set2}
print(dict_1)

{1: {1, 2, 3, 4, 5}, 2: {2, 4, 6, 8, 10}}

In [22]:
#Assignment 11: Iterating Over Sets
#Create a set and iterate over the elements, printing each element.
set_1={1,2,3,4,5}
for i in set_1:
  print(i)

1
2
3
4
5

In [26]:
#Assignment 12: Removing Elements from Sets
#Create a set and remove elements from it until it is empty. Print the set after each removal.
for i in list(set_1):
  set_1.remove(i)
print(set_1)

set()

In [27]:
#Assignment 13: Set Symmetric Difference Update
#Create two sets and update the first set with the symmetric difference of the two sets. Print the modified first set.
set1={1,2,3,4,5}
set2={2,4,6,8,10}
set1.symmetric_difference_update(set2)
print(set1)

{1, 3, 5, 6, 8, 10}

In [28]:
#Assignment 14: Set Membership Testing
#Create a set and test if certain elements are present in the set. Print the results.

set_1={1,2,3,4,5}
print(1 in set_1)
print(6 in set_1)

True
False

In [29]:
#Assignment 15: Set of Tuples
#Create a set containing tuples, where each tuple contains two elements. Print the set.

mix_set={(1,2),(3,4),(5,6)}
print(mix_set)

{(1, 2), (3, 4), (5, 6)}