<a href="https://colab.research.google.com/github/Paromita2001/githubds_py/blob/main/tuple_assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Module 3: Data Structures Assignments
## Lesson Tuples
### Assignment 1: Creating and Accessing Tuples

Create a tuple with the first 10 positive integers. Print the tuple.

### Assignment 2: Accessing Tuple Elements

Print the first, middle, and last elements of the tuple created in Assignment 1.

### Assignment 3: Tuple Slicing

Print the first three elements, the last three elements, and the elements from index 2 to 5 of the tuple created in Assignment 1.

### Assignment 4: Nested Tuples

Create a nested tuple representing a 3x3 matrix and print the matrix. Access and print the element at the second row and third column.

### Assignment 5: Tuple Concatenation

Concatenate two tuples: (1, 2, 3) and (4, 5, 6). Print the resulting tuple.

### Assignment 6: Tuple Methods

Create a tuple with duplicate elements and count the occurrences of an element. Find the index of the first occurrence of an element in the tuple.

### Assignment 7: Unpacking Tuples

Create a tuple with 5 elements and unpack it into 5 variables. Print the variables.

### Assignment 8: Tuple Conversion

Convert a list of the first 5 positive integers to a tuple. Print the tuple.

### Assignment 9: Tuple of Tuples

Create a tuple containing 3 tuples, each with 3 elements. Print the tuple of tuples.

### Assignment 10: Tuple and List

Create a tuple with the first 5 positive integers. Convert it to a list, append the number 6, and convert it back to a tuple. Print the resulting tuple.

### Assignment 11: Tuple and String

Create a tuple with the characters of a string. Join the tuple elements into a single string. Print the string.

### Assignment 12: Tuple and Dictionary

Create a dictionary with tuple keys and integer values. Print the dictionary.

### Assignment 13: Nested Tuple Iteration

Create a nested tuple and iterate over the elements, printing each element.

### Assignment 14: Tuple and Set

Create a tuple with duplicate elements. Convert it to a set to remove duplicates and print the resulting set.

### Assignment 15: Tuple Functions

Write functions that take a tuple and return the minimum, maximum, and sum of the elements. Print the results for a sample tuple.

In [1]:
#Assignment 1: Creating and Accessing Tuples
#Create a tuple with the first 10 positive integers. Print the tuple.
tup=(1,2,3,4,5,6,7,8,9,10)
print(tup)

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

In [2]:
#Assignment 2: Accessing Tuple Elements
#Print the first, middle, and last elements of the tuple created in Assignment 1.
print(tup[0])
print(tup[4])
print(tup[9])

1
5
10

In [3]:
#Assignment 3: Tuple Slicing
#Print the first three elements, the last three elements, and the elements from index 2 to 5 of the tuple created in Assignment 1.

print(tup[0:3])
print(tup[7:10])
print(tup[2:6])

(1, 2, 3)
(8, 9, 10)
(3, 4, 5, 6)

In [4]:
#Assignment 4: Nested Tuples
#Create a nested tuple representing a 3x3 matrix and print the matrix. Access and print the element at the second row and third column.
tup_mat=((1,2,3),(4,5,6),(7,8,9))
print(tup_mat)
print(tup_mat[1][2])

((1, 2, 3), (4, 5, 6), (7, 8, 9))
6

In [5]:
#Assignment 5: Tuple Concatenation
#Concatenate two tuples: (1, 2, 3) and (4, 5, 6). Print the resulting tuple.
tup1=(1,2,3)
tup2=(4,5,6)
tup3=tup1+tup2
print(tup3)

(1, 2, 3, 4, 5, 6)

In [7]:
#Assignment 6: Tuple Methods
#Create a tuple with duplicate elements and count the occurrences of an element. Find the index of the first occurrence of an element in the tuple.
dup_tup=(1,1,4,8,5,2,1,3,7)
print(dup_tup.count(1))
print(dup_tup.index(1))

3
0

In [9]:
#Assignment 7: Unpacking Tuples
#Create a tuple with 5 elements and unpack it into 5 variables. Print the variables.
t=(1,2,3,4,5)
a,b,c,d,e=t
print(a)
print(b)
print(c)
print(d)

1
2
3
4

In [10]:
#Assignment 8: Tuple Conversion
#Convert a list of the first 5 positive integers to a tuple. Print the tuple.
list1=[1,2,3,4,5]
tup=tuple(list1)
print(tup)

(1, 2, 3, 4, 5)

In [12]:
#Assignment 9: Tuple of Tuples
#Create a tuple containing 3 tuples, each with 3 elements. Print the tuple of tuples.
tup_=(('a','b'),(1,2),('c',3))
tup_

(('a', 'b'), (1, 2), ('c', 3))

In [14]:
#Assignment 10: Tuple and List
#Create a tuple with the first 5 positive integers. Convert it to a list, append the number 6, and convert it back to a tuple. Print the resulting tuple.
tup_int=(1,2,3,4,5)
list_int=list(tup_int)
list_int.append(6)
tup_int=tuple(list_int)
print(tup_int)

(1, 2, 3, 4, 5, 6)

In [15]:
#Assignment 11: Tuple and String
#Create a tuple with the characters of a string. Join the tuple elements into a single string. Print the string.
tup1=('a','b','c','d')
str1=''.join(tup1)
print(str1)

abcd

In [16]:
#Assignment 12: Tuple and Dictionary
#Create a dictionary with tuple keys and integer values. Print the dictionary.

tup_dict={(1,2):1,(3,4):2,(5,6):3}
print(tup_dict)

{(1, 2): 1, (3, 4): 2, (5, 6): 3}

In [17]:
#Assignment 13: Nested Tuple Iteration
#Create a nested tuple and iterate over the elements, printing each element.

tup_nest=((1,2),(3,4),(5,6))
for i in tup_nest:
    for j in i:
        print(j)

1
2
3
4
5
6

In [18]:
#Assignment 14: Tuple and Set
#Create a tuple with duplicate elements. Convert it to a set to remove duplicates and print the resulting set.
tup_dup=(1,1,4,8,5,2,1,3,7)
set_dup=set(tup_dup)
print(set_dup)

{1, 2, 3, 4, 5, 7, 8}

In [20]:
#Assignment 15: Tuple Functions
#Write functions that take a tuple and return the minimum, maximum, and sum of the elements. Print the results for a sample tuple.
def min_max_sum(tup):
    min_val=min(tup)
    max_val=max(tup)
    sum_val=sum(tup)
    return min_val,max_val,sum_val

tup=(1,2,3,4,5)
min_val,max_val,sum_val=min_max_sum(tup)
print(min_val)
print(max_val)
print(sum_val)

1
5
15